<div class="jumbotron bg-white text-center">
    <h1 class="display-4">Corona Covid-19 Tracker</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora sequi similique porro laborum voluptatum sunt eaque magnam explicabo quas illum. Sunt doloremque eveniet dolore! Esse inventore cupiditate odio dolorum molestiae.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam delectus, aut modi eligendi, praesentium officiis perspiciatis eaque unde, odio illum omnis iure nostrum? Rerum sapiente, corrupti optio eum earum at.</p>
</div>